<div class="my-3">
    <h2>Of and From</h2>
    <br>
    <strong>Ex-01 (Of)</strong>
    <div class="row">
        <div class="col-md-6">
            <p class="border bg-light py-2 px-3 rounded">
                <strong>Data : </strong>of('Anup','Shekhar','Sharma')
            </p>
            <hr>
            <ul id="elContainer"></ul>
        </div>
        <div class="col-md-6">
            <p class="border bg-light py-2 px-3 rounded">
                <strong>Data : </strong>of(&#123;a:'Anup',b:'Shekhar',c:'Sharma'&#125;)
            </p>
            <hr>
            <ul>
                <li>{{obsMsg.a}}</li>
                <li>{{obsMsg.b}}</li>
                <li>{{obsMsg.c}}</li>
            </ul>
        </div>
    </div>
    <br>
    <strong>Ex-02 (From)</strong>
    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
            <hr>
            <p class="border bg-light py-2 px-3 rounded">
                <strong>Data : </strong>from(['Anuj','rakesh','Sharma'])
            </p>
            <hr>
            <ul id="elContainer1"></ul>
        </div>
        <div class="col-md-4">
            <strong>promise</strong>
            <hr>
            <p class="border bg-light py-2 px-3 rounded">
                <strong>Data : </strong>Promise To Observable
            </p>
            <hr>
            <ul id="elContainer2"></ul>
        </div>
        <div class="col-md-4">
            <strong>promise</strong>
            <hr>
            <p class="border bg-light py-2 px-3 rounded">
                <strong>Data : </strong>String To Observable
            </p>
            <hr>
            <ul id="elContainer3"></ul>
        </div>
    </div>
</div>