<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value,f)">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" [(ngModel)]="Title" name="title" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label>Content</label>
          <textarea class="form-control" [(ngModel)]="Content" name="content" placeholder="content" rows="3" style="resize: none;"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Send Post</button>
        <hr>
        <button type="button" 
                class="btn btn-primary"
                (click)="onFetchPost()"
                >Fetch Post</button>&nbsp;
        <button type="button" 
                class="btn btn-danger"
                [disabled]="loadedPost.length < 1"
                (click)="onClearPost()"
                >Clear Post</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="loadedPost.length < 1 && !isFetching && flag!=0">No Post Available</p>
      <ul class="list-group" *ngIf="loadedPost.length >= 1 && !isFetching">
        <li class="list-group-item" *ngFor="let post of loadedPost">
          <h3>{{ post.title }}</h3>
          <p>{{ post.content }}</p>
        </li>
      </ul>
    </div>
    <p *ngIf="isFetching && !error">Loading...</p>
    <div class="alert alert-danger" *ngIf="error">
      <h1>An Error Occured!</h1>
      <p>{{ error }}</p>
      <button class="btn btn-danger" (click)="onHandleErr()">Ok</button>
    </div>
  </div>
</div>