<div class="row">
    <div class="col-xs-12 col-sm-4">
        <div class="list-group">
            <a 
               [routerLink]="['/servers',5,'edit']"
               [queryParams]="{allowEdit:'1'}"
               fragment="loading"
               class="list-group-item" 
               *ngFor="let s of servers">
               {{ s.name }}
               <br>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <router-outlet></router-outlet>
        <!-- <button class="btn btn-primary" (click)="onLoad()">Reload Server</button>&nbsp;
        <app-edit-server></app-edit-server>
        <a routerLink="/servers">Reload Page</a> -->
    </div>
</div>