<div class="row">
    <div class="col-xs-10">
        <!-- 
            app-shopping-edit
            (ingredientAdded)="addIngred($event)" 
        -->
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group" *ngFor="let ing of ingredients;let i = index">
            <a 
                class="list-group-item" 
                (click)="onEditing(i)"
                style="cursor: pointer;"
            >{{ ing.name }} ({{ ing.amount }})
            </a>
        </ul>
    </div>
</div>
<hr>