<!-- 
    <input type="text" [(ngModel)]="name">
    <span>{{ name }}</span> 
-->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>App components</h3>
            <hr>
            <app-servers></app-servers>
            <app-success-alert-component></app-success-alert-component>
            <app-warning></app-warning>
            <!-- <div app-servers></div> by using attribute value -->
            <!-- <div class="app-servers"></div> by using classname  -->
        </div>
    </div>    
</div>